<!DOCTYPE html>
<html class="bg-black">
    <head>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" href="{{ asset('bundles/vorterixbackend/images/favicon.ico') }}">
        <title>{% block title %}VTX Backend{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="{% block theme %}{% endblock %}">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
